@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rounded-btn: 0.5rem;
  }

  .dark {
    --rounded-btn: 0.5rem;
  }
}

.bg-reavid {
  width: 100%;
  height: 100%;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}
